#game{
    height: 570px;
    background-image: url('flappy-bg-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    border: 4px solid black;
    margin-top: 2%;
    overflow: hidden;
    position: relative;
}
body{
    background-color: #e1f2de;
}
#pipe1{
    position: absolute;
    width: 50px;
    height: 50%;
    background-image: url("pipe-img.jpg");
    transform: rotate(180deg);
}
#pipe2{
    position: absolute;
    width: 50px;
    height: 30%;
    background-image: url("pipe-img.jpg");

    top: 80%;
}
.obs{
    left: 95%;
    animation: move 4s ease-in-out infinite;
    background-repeat: no-repeat;
    background-size: cover;
}
.cloud{
    position: absolute;
    background-image: url(cloud.png);
    width: 100%;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    /* background-position: 20px; */
    top: 150px;
    animation: cloudimg 4s ease-in-out infinite;
}
.cloud1{
    
    background-position: 20%;
}
.cloud2{
  
    background-position: 80%;
}



@keyframes cloudimg{
0%{
    transform: scale(1.5);
}
50%{
    transform: scale(2);
}
100%{
    transform: scale(1.5);
}
}

@keyframes move{
    0%{
        left: 100%;
    }
    100%{
        left: -6%;
    }
}
#bird{
    position: absolute;
    top: 200px;
    left: 90px;
    background: linear-gradient(#7CB9E8,#70a5cd);

}
#bird img{
    height: 60px;
    /* height: 80px; */
    width: 80px;
    /* width: 100px; */
}
#score{
    color: white;
    font-size: x-large;
    font-weight: bold;
    margin-left: 2%;
    margin-top: 2%;
}


@media screen and (min-width: 576px){

} 



/* desk */
@media screen and (min-width: 992px){
    #game{
        height: 570px;
        width: 900px;
        margin-top: 5%;
         margin-left: 20%;
    }
    .cloud{
        position: absolute;
        background-image: url(cloud.png);
        width: 100%;
        height: 50px;
        background-repeat: no-repeat;
       
        animation: cloudimg 4s ease-in-out infinite;
    }
    .cloud1{
        left: 300px;
        background-position: 20%;
    }
    .cloud2{
      
        background-position: 60%;
    }
    
}